[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=missing-module-docstring,
        no-member,
        too-few-public-methods,
        no-name-in-module,
        inconsistent-return-statements
[BASIC]
good-names=x,y,a,b,nx,ny,dx,dy,uf,iters
